---
import Layout from '../layouts/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<FeedbackForm client:idle />
	</main>
</Layout>

<style>
	
</style>
